<nav class="nav bg-primary">
    <div class="container d-flex jc-space-between ai-center">
        <div class="logo">
            <a href="index.html"><img src="../assets/img/logo-white.png" alt="logo"></a>
        </div>
        <ul class="d-flex">
            <a class="nav-link" href="products.html"><li>系列鏡框</li></a>
            <a class="nav-link" href="shops.html"><li>門市據點</li></a>
            <a class="nav-link" href="blogs.html"><li>部落格</li></a>
            <a class="nav-link" href="QA.html"><li>常見問題</li></a>
        </ul>
    </div>
</nav>