<nav class="nav bg-primary">
    <div class="container d-flex jc-space-between ai-center">
        <div class="logo">
            <a href="index.html"><img src="../assets/img/logo-white.png" alt="logo"></a>
        </div>
        <ul class="d-flex">
            <li class="nav-link"><a href="products.html">系列鏡框</a></li>
            <li class="nav-link"><a href="shops.html">門市據點</a></li>
            <li class="nav-link"><a href="blogs.html">部落格</a></li>
            <li class="nav-link"><a href="QA.html">常見問題</a></li>
        </ul>
    </div>
</nav>