<nav class="nav bg-primary">
    <div class="container d-flex jc-space-between ai-center">
        <div class="logo">
            <a href="index.html"><img src="../assets/img/logo-white.png" alt="logo"></a>
        </div>
        <div class="d-flex navbar">
            <a  class="nav-link" href="products.html">系列鏡框</a>
            <a  class="nav-link" href="shops.html">門市據點</a>
            <a  class="nav-link" href="blogs.html">部落格</a>
            <a  class="nav-link" href="QA.html">常見問題</a>
        </div>
    </div>
</nav>