<section class="product-sort">
    <div class="container">
      <ul class="d-flex jc-center">
        <li class="active">OPTICAL</li>
        <li>SUNGLASSES</li>
        <li>FUNCTIONAL</li>
      </ul>
    </div>
  </section>
  <section class="product-banner d-flex">
    <img src="../assets/img/product-header-1.png">
    <img src="../assets/img/product-header-2.png">
  </section>