.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}
/*PC first：max-width，斷點由大到小排列*/
@media (max-width: 992px) {
  .container {
    max-width: 720px; /* 36*12 + 24*11=696 px + 24 px(padding) */
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 372px; /* 69*4 + 24*3=348 px + 24 px(padding) */
  }
}

/* Grid */
$gap: 24px;
$columns-num: 12;

.row {
  display: flex;
  flex-wrap: wrap;
  /* 抵銷最左邊和最右邊的 col 多出來的 padding */
  margin-left: -12px;
  margin-right: -12px;
}

@for $i from 1 through $columns-num {
  .col-#{$i} {
    width: (100% * $i / $columns-num);
    padding-left: $gap / 2;
    padding-right: $gap / 2;
  }
}

@include pad {
  @for $i from 1 through $columns-num {
    .col-md-#{$i} {
      width: (100% * $i / $columns-num);
      padding-left: $gap / 2;
      padding-right: $gap / 2;
    }
  }
}

@include mobile {
  @for $i from 1 through $columns-num {
    .col-sm-#{$i} {
      width: (100% * $i / $columns-num);
      padding-left: $gap / 2;
      padding-right: $gap / 2;
    }
  }
}

/* flex */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.jc-space-between {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: start;
}
.ai-end {
  align-items: end;
}

/* margin*/
$max: 10;

@for $i from 0 through $max {
  .mt-#{$i} {
    margin-top: $i * 8px;
  }
}

@media (max-width: 576px) {
  .mt-6 {
    margin-top: 24px;
  }
}

.bg-primary {
  background-color: $primary;
}

.btn-primary {
  background-color: $primary;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: $secondary;
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}
.main-title {
  font-size: 48px;
  text-align: start;
  font-weight: 700;
  border-left: $primary solid 8px;
  padding-left: 16px;
}
