<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <!-- google icon -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <%- include('./layout/nav'); -%>

    <main>
      <section class="header">
        <div class="container banner">
          <p class="slogan-1">Promise-Desert 2020 早春系列</p>
          <p class="slogan-2">看得清，才能看得遠</p>
          <a href="products.html">
            <div class="btn-primary btn">立即購買</div>
          </a>
        </div>
      </section>
      <section class="merit">
        <div class="container">
          <h2 class="title color-secondary">用專業的心，做專業的事</h2>
          <ul class="row">
            <li class="col-3 col-md-6 col-sm-12">
              <img src="../assets/img/home-section2-1.png" class="icon">
              <h3 class="subtitle mt-3">單一價格</h3>
              <p class="mt-1">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </li>
            <li class="col-3 col-md-6 col-sm-12">
              <img src="../assets/img/home-section2-2.png" class="icon">
              <h3 class="subtitle mt-3">20 分鐘即可取件</h3>
              <p class="mt-1">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </li>
            <li class="col-3 col-md-6 col-sm-12">
              <img src="../assets/img/home-section2-3.png" class="icon">
              <h3 class="subtitle mt-3">安心售後服務</h3>
              <p class="mt-1">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </li>
            <li class="col-3 col-md-6 col-sm-12">
              <img src="../assets/img/home-sectioin2-4.png" class="icon">
              <h3 class="subtitle mt-3">關於鏡片</h3>
              <p class="mt-1">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </li>
          </ul>
        </div>
        </div>
      </section>
      <section class="series">
        <div class="container">
          <h2 class="title color-secondary">經典系列鏡框</h2>
          <ul class="row mt-6">
            <li class="col-4 col-md-12">
              <img src="../assets/img/home-section3-1.png" class="col-md-img col-sm-img">
              <h3 class="title color-primary italic mt-1">OPTICAL</h3>
            </li>
            <li class="col-4 col-md-12">
              <img src="../assets/img/home-section3-2.png" class="col-md-img col-sm-img">
              <h3 class="title color-primary italic mt-1">SUNGLASSES</h3>
            </li>
            <li class="col-4 col-md-12">
              <img src="../assets/img/home-section3-3.png" class="col-md-img col-sm-img">
              <h3 class="title color-primary italic mt-1">FUNCTIONAL</h3>
            </li>
          </ul>
        </div>
      </section>
      <section class="brand">
        <div class="container">
          <h2 class="title-light">聯名設計鏡框</h2>
          <div class="d-flex flex-wrap">
            <div class="shop img-double-a">
              <div class="btn-light">
                <h3 class="title color-primary italic">DOUBLE A+</h3>
              </div>
            </div>
            <div class="shop img-youth flex-wrap">
              <div class="btn-light">
                <h3 class="title color-primary italic">YOUTH</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="customer">
        <div class="container">
          <h2 class="title color-secondary">顧客推薦</h2>
          <ul class="row d-flex mt-6">
            <li class="col-3 col-md-6 col-sm-12">
              <div class="card">
                <div>
                  <img src="../assets/img/home-section5-1.png">
                </div>
                <div class="card-content d-flex flex-column jc-space-between">
                  <div>
                    <p>Jessy</p>
                    <p class="mt-1">眼鏡品質優良，下次還會想來這邊購買！</p>
                  </div>
                  <div>
                    <p class="date"><time datetime="2021/06/20">2021/06/20</time></p>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-3 col-md-6 col-sm-12 col-sm-card">
              <div class="card">
                <div>
                  <img src="../assets/img/home-section5-2.png">
                </div>
                <div class="card-content d-flex flex-column jc-space-between">
                  <div>
                    <p>凱倫</p>
                    <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                  </div>
                  <div>
                    <p class="date"><time datetime="2021/04/18">2021/04/18</time></p>
                  </div>

                </div>
              </div>
            </li>
            <li class="col-3 col-md-6 col-sm-12 col-md-card">
              <div class="card">
                <div>
                  <img src="../assets/img/home-section5-3.png">
                </div>
                <div class="card-content d-flex flex-column jc-space-between">
                  <div>
                    <p>悠悠</p>
                    <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                  </div>
                  <div>
                    <p class="date"><time datetime="2020/12/25">2020/12/25</time></p>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-3 col-md-6 col-sm-12 col-md-card">
              <div class="card">
                <div>
                  <img src="../assets/img/home-section5-4.png">
                </div>
                <div class="card-content d-flex flex-column jc-space-between">
                  <div>
                    <p>Kyuan</p>
                    <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                  </div>
                  <div>
                    <p class="date"><time datetime="2020/10/31">2020/10/31</time></p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="contact">
        <div class="container container-md-fluid">
          <div class="row d-flex flex-column ai-center">
            <div class="col-6 col-md-12">
              <h2 class="title color-secondary">聯絡我們</h2>
              <p class="mt-6">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
              <form class="form mt-3">
                <label for="name">姓名</label><input type="text" placeholder="陳曉明" id="name" class="w-100 mt-1">
                <div class="mt-2">
                  <label for="tel">聯絡電話</label><input type="tel" placeholder="0912-345-678" id="tel" class="w-100 mt-1">
                </div>
                <div class="mt-2">
                  <label for="email">電子郵件</label><input type="email" placeholder="example@email.com" id="email"
                    class="w-100 mt-1">
                </div>
                <div class="mt-2">
                  <label for="comment">意見反應</label><input placeholder="請輸入您的意見" id="comment" class="w-100 mt-1"></input>
                </div>
              </form>
              <input type="checkbox" name="agree" id="agree" class="mt-2"><label
                for="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
            </div>
            <div class="col-4 col-md-6 col-sm-12">
              <button type="button" class="btn-primary btn mt-6">確認送出</butt>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>